<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cognections!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <a href="{{ url_for('instructions') }}">
        <img src="{{ url_for('static', filename='images/question.png') }}" 
         id="iconButton"
         class="icon-btn"
         alt="menu"> 
        </a>

    <div class="container">
        <h1 class="title">Cognections</h1>
        <p class="para">Create four groups of four!</p>
        <div id="categories" class="categories"></div>
        <div class="grid" id="wordGrid"></div>
        <div class="button-row">
            <button id="shuffleButton">Shuffle</button>
            <button id="deselectAllButton">Deselect All</button> 
            <button id="checkButton" disabled>Select 4 words</button>
        </div>
        <div id="result"></div>
    </div>

    <div id="winModal">
        <div id="winModalContent">
            You win! Great job!
            <br>
            <button id="closeWinModal">Play Again</button>
        </div>
    </div>

    <script>
        const GEMINI_API_KEY = "{{ gemini_api_key }}";
        const initialWords = {{ words | tojson }};
    </script>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
