<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="title">Instructions</h1>
    <div class = "container"> 
        <p class = "game-info">Hello! This game is a fanmade version of NYT Connections. Unlike the original, instead of being given sixteen words and finding four groups, you pick any four words you want, and AI creates a connection between them. Happy puzzling!
            <br>
            <br>
            Play the original NYT Connections <a id = "link" target="_blank" href="https://www.nytimes.com/games/connections">here!</a>
            <br> 
            <br> 
            Any feedback? Reach out to me on <a id = "link" target="_blank" href = "https://www.linkedin.com/in/zealshahh/">LinkedIn</a> or <a id = "link"  target="_blank" href = "https://x.com/strawbcoldfoam">Twitter</a>.

        </p> 
    </div>

    <img src="{{ url_for('static', filename='images/question.png') }}" 
         id="iconButton"
         class="icon-btn"
         alt="menu"> 

    <div class="dropdown" id="dropdownMenu">
        <a href="{{ url_for('index') }}">Play the Game!</a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
